{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <div class="container">
        <h1>Produits</h1>
        {% if reference != null %}
            <a class="btn btn-secondary mt-1 mb-1" href="{{ path('products') }}" role="button">Retour</a>
        {% endif %}
        <div class="form-group w-50">
            <input type="search" class="form-control" id="autocomplete"
                   placeholder="Nom ou référence..." value="{{ reference != null ? reference : "" }}">
        </div>
        {% if products.count > 0 %}
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Référence</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Dropshipping</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <th scope="row">{{ product.reference }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category ? product.category : 'Aucune' }}</td>
                        <td>{{ product.dropshipping ? 'Oui' : "Non" }}</td>
                        <td><a class="btn btn-sm btn-outline-primary w-50"
                               href="{{ path('show_product', {reference: product.reference}) }}" role="button">Voir</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(products, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
        {% else %}
            <span>Il n'y a aucun produit</span>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{{ asset('assets/js/jquery.auto-complete.min.js') }}"></script>
    <script>
        $(function () {
            $('#autocomplete').autoComplete({
                minChars: 2,
                source: function (term, response) {
                    $.getJSON('/products/search/' + term, null, function (data) {
                        var products = [];
                        data.forEach(function (product) {
                            products.push(product.reference + ' (' +product.name + ')' );
                        })
                        response(products);
                    });
                },
                onSelect: function(e, term, item){
                    window.location = '/products?reference='+term.split('(')[0];
                }
            });
        });
    </script>
{% endblock %}
