{% extends 'base.html.twig' %}

{% block title %}Produit: {{ product.name }}{% endblock %}

{% block body %}
    <div class="container">
        <a class="btn btn-secondary mt-2" href="{{ path('products') }}" role="button">Retour</a>
        <h1>Produit: {{ product.name }}</h1>
        <h4># {{ product.reference }}</h4>
        <hr>
        <div class="row">
            <div class="col-6">
                <h4>Détails</h4>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="m-2"><span class="font-weight-bold">Catégorie</span> : {{ product.category ? product.category : 'Aucune' }}</div>
                        <div class="m-2"><span class="font-weight-bold">Déscription</span> : {{ product.description ? product.description : 'Aucune' }}</div>
                        <div class="m-2"><span class="font-weight-bold">Dropshipping</span> : {{ product.dropshipping ? 'Oui' : "Non" }}</div>
                    </div>
                </div>
            </div>
            {% if product.pricing %}
                <div class="col-6">
                    <h4>Tarification</h4>
                    <table class="table table-sm table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Chaine</th>
                            <th scope="col">Taxe</th>
                            <th scope="col">Prix</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pricing in product.pricing %}
                            <tr>
                                <th scope="row">{{ pricing.channel }}</th>
                                <td>{{ pricing.vat_rate }} %</td>
                                <td>{{ pricing.price }} €</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Inventaire</h4>
                {% if product.inventories.count > 0 %}
                    <table class="table table-sm table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Chaines</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Entrées</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for inventory in product.inventories %}
                            <tr>
                                <td>{{ inventory.channels|join(',') }}</td>
                                <td>{{ inventory.quantity }}</td>
                                <td>

                                    {% if inventory.inbounds != null %}
                                        {% for inbound in inventory.inbounds %}
                                            <p>{{ inbound.arrival_date }} ({{ inbound.quantity }})</p>
                                        {% endfor %}
                                    {% else %}
                                        <span>Il n'y a aucune entrée</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <span>Il n'y a aucun inventaire pour ce produit</span>
                {% endif %}
            </div>
        </div>
    </div>

    <style>
    </style>
{% endblock %}
